@model ValidationMVC.Models.Dane
<h1>Wynik</h1>
Potwierdzam Twoje dane<br />
Imie: @Model.Imie
<br />
Email: @Model.Email
<br />
Haslo: @Model.Haslo
<br />
PotwierdzHaslo: @Model.PotwierdzHaslo
<br />
NumerTelefonu: @Model.NumerTelefonu
<br />
Wiek: @Model.Wiek
<br />
Miasto: @Model.Miasto
<br />